/* Center the content vertically and horizontally */
.LoginInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust this as needed */
 
  }
  
  /* Style the form container */
  form {
    /* background-color: #fff; */
    border: 1px solid #ccc;
    padding: 80px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  }
  
  /* Style input labels */
  label {
    display: block;
    margin-bottom: 6px;
  }
  
  /* Style input fields */
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Style the submit button */
  button[type="submit"] {
    background-color: #002fd9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Style the submit button on hover */
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Optional: Style links */
  a {
    text-decoration: none;
    color: #0074d9;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Optional: Style the Navbar component */
  /* You can import Navbar-specific styles from Navbar.css */
  